<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="JP" value="https://nuget.pkg.github.com/mariyanfjdfdksmarinov/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="joropaspalev" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>

</configuration>